// Ronan Goligy
// 22/08/2020
// Project 3 Fylo Landing Page

// Colours

//Primary Colours
$introblue: hsl(217, 28%, 15%);
$bgblue: hsl(218, 28%, 13%);
$ftblue: hsl(216, 53%, 9%); 
$testblue: hsl(219, 30%, 18%);


// Accent Colours

$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);


//Neutral 

$white: hsl(0, 0%, 100%);